<h1>Add a New Prehistoric Creature</h1>


<form action="/prehistoric_creatures" method="POST">
    <label for="creatureType">Type</label>
    <input type="text" name="type" id="creatureType">

    <label for="creatureImage">Image (url)</label>
    <input type="url" name="img_url" id="creatureImage">

    <input type="submit">
</form>